{% extends 'base.html'%}
{% load static %}
{% block title %}About{% endblock%}

{% block content %}
<div class="container text-center text-uppercase mt-5">
    <h1 class="display-3 mb-3">About</h1>
</div>
<div class="container col-lg-10">
    <div class="row my-5 g-5 justify-content-around align-items-center">
        <div class="col-lg-4">
            <img class="img-fluid rounded" src="{% static 'images/blog.jpg' %}" alt="ebook">
        </div>

        <div class="col-lg-8">
            <p class="lead text-justify">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus soluta distinctio recusandae debitis
                quas quis labore facilis placeat architecto omnis, est quisquam ipsam maxime porro, ullam culpa
                voluptatibus eum repellendus sint magnam? Nesciunt eum doloribus laudantium eos temporibus! Enim
                maiores, nostrum, dolore iusto alias eaque facilis doloribus dolorem debitis atque fuga sed quaerat
                natus excepturi quo velit, officiis nobis libero et laborum est iste. Facilis tempore quidem quos ea
                dignissimos nihil quam voluptatem magnam eius aliquid placeat laborum ab! Magnam at error alias facere,
                quo eligendi voluptate quisquam delectus. Temporibus quod quis sequi unde eligendi, nesciunt maxime! Sed
                enim reiciendis minima numquam ea, voluptatum non quaerat necessitatibus eveniet voluptas est
                consequatur exercitationem et nobis, ad illum a magnam laboriosam expedita officiis voluptate ipsa unde
                autem. Sapiente libero eveniet asperiores?

            </p>
        </div>
    </div>
</div>
</section>

<div class="container-lg">
    <div class="text-center">
        <h2><i class="bi bi-stars" id="star-color"></i>Reviews</h2>
        <p class="lead">What our students have said about the Training</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="list-group my-5">
            <div class="list-group-item py-3">
                <div class="mb-2" style="color: gold;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>

                </div>
                <h5 class="mb-1">A must buy for every aspiring Python developer</h5>
                <p class="mb-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde nisi fugit illum
                    vitae tempore suscipit reprehenderit sit animi, reiciendis minus.</p>
            </div>
            <div class="list-group-item py-3">
                <div class="mb-2" style="color: gold;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                </div>
                <h5 class="mb-1">A must buy for every aspiring Django developer</h5>
                <p class="mb-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde nisi fugit illum
                    vitae tempore suscipit reprehenderit sit animi, reiciendis minus.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}