{% extends 'base.html'%}
{% load static %}
{% block title %}Consultancy{% endblock%}

{% block content %}

<div class="container text-center text-uppercase mt-5">
    <h1 class="display-3 mb-3">Consultancy</h1>
</div>
<div class="container py-5 my-5">
    <p class="lead my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut neque ducimus eveniet, numquam quod iure minima est
        vel? Placeat possimus quas minima fugit iure laborum praesentium alias, asperiores velit aspernatur ratione
        error temporibus explicabo exercitationem a modi aliquid quaerat quibusdam eum ab veniam tempora iusto, nemo
        dolores? Saepe error dignissimos inventore impedit ea et molestias reprehenderit. Quasi fuga, nulla quisquam
        blanditiis officia repellendus, velit itaque dignissimos qui at distinctio. Possimus, fugit suscipit.
        Recusandae, tenetur? Mollitia voluptatibus dolorum optio porro quia error dolor modi, velit voluptas cum, itaque
        eveniet amet repellat iusto quasi perferendis expedita a inventore maxime ad pariatur vitae dolore. Ducimus hic
        nemo eveniet veritatis veniam natus illo magnam earum fugiat, voluptatibus fugit? Odio minima non recusandae
        architecto quae quos ullam, commodi, tenetur expedita facilis dolor autem exercitationem eius ut dignissimos
        dicta id eligendi aut sint! Inventore quo architecto aliquid pariatur neque rem quae voluptate exercitationem
        et, dolorem, ad corporis omnis officiis unde ullam quisquam rerum vel beatae facilis quam. Dicta maiores fuga
        eius! Ab sequi, illo harum maxime veritatis, fugiat fuga sint expedita sit, maiores eum libero. Facilis ducimus
        expedita nulla officiis explicabo, aspernatur itaque, rem distinctio saepe hic quae consectetur? Voluptatem
        perferendis dolore dignissimos sint vero reprehenderit omnis consequatur, quisquam tempora totam consequuntur
        enim quaerat illum qui assumenda sequi commodi rem labore! Tempora nemo totam rerum repellat iste maiores.
        Harum, nisi odio! Consequatur, voluptate. Veniam quae ipsum tenetur saepe voluptatum labore eligendi nihil minus
        esse, vitae tempore est illum obcaecati qui. Excepturi, ullam doloremque assumenda incidunt qui, amet iusto
        voluptates ad, impedit itaque cum error vero placeat vel molestiae a commodi. Tenetur excepturi, iste iure animi
        quibusdam, eum nesciunt voluptates distinctio repudiandae commodi deleniti reiciendis dolore omnis eaque laborum
        labore ipsum veniam voluptate ab explicabo error! Molestiae repellat sunt sed libero, suscipit nobis voluptas,
        exercitationem quidem illo ipsum accusantium obcaecati iusto vitae voluptate officiis sint commodi tempora!
        Minima reiciendis iure architecto ea blanditiis voluptatibus dolore cum! Velit modi, voluptatem aliquam incidunt
        sunt exercitationem cupiditate qui perferendis. Doloribus aliquid nobis, debitis veritatis amet, officiis itaque
        perferendis animi placeat quae exercitationem, distinctio corporis rerum provident laudantium facere accusamus
        eius id accusantium sunt eum quis nesciunt dolore ullam? Aliquid, fugiat est voluptate ab reiciendis, illum rem
        autem expedita ut molestias, ad harum! Perspiciatis molestias minus, enim voluptatem aperiam repudiandae nemo
        blanditiis libero cupiditate dolorum earum odit autem esse reprehenderit, accusamus inventore perferendis ea
        eveniet porro corrupti. Deserunt delectus at nostrum!
    </p>
</div>
{% endblock %}